 <ul *ngIf="isSidebarOpen">
    <li><a routerLink="/Dashboard" routerLinkActive="active-link"> <i class="fa fa-fw fa-home"></i> Dashboard</a></li>
    <li><a routerLink="/Product" routerLinkActive="active-link"><i class="fa fa-fw fa-newspaper"></i> Add Product</a></li>
    <li><a routerLink="/ProductList" routerLinkActive="active-link"> <i class="fa fa-fw fa-book"></i> Product List</a></li>
    <li><a href="#about" routerLinkActive="active-link"> <i class="fa fa-fw fa-info-circle"></i> GoldMedal</a></li>
    <li><a href="#news" routerLinkActive="active-link"><i class="fa fa-fw fa-newspaper"></i> Anchor</a></li>
    <li><a href="#contact" routerLinkActive="active-link"> <i class="fa fa-fw fa-envelope"></i> local</a></li>
    <li><a href="#about" routerLinkActive="active-link"> <i class="fa fa-fw fa-info-circle"></i> Add Company</a></li>
    <li><a href="#news" routerLinkActive="active-link"><i class="fa fa-fw fa-newspaper"></i> Add Product</a></li>
    <li><a href="#contact" routerLinkActive="active-link"> <i class="fa fa-fw fa-envelope"></i> Add Category</a></li>
    <li><a href="#about" routerLinkActive="active-link"> <i class="fa fa-fw fa-info-circle"></i> Add Company</a></li>
    <li><a href="#news" routerLinkActive="active-link"><i class="fa fa-fw fa-newspaper"></i> Add Product</a></li>
    <li><a href="#contact" routerLinkActive="active-link"> <i class="fa fa-fw fa-envelope"></i> Add Category</a></li>
    <li><a href="#about" routerLinkActive="active-link"> <i class="fa fa-fw fa-info-circle"></i> Add Company</a></li>
  </ul>
 