<h4>Good Product For Good Person</h4>
<div>
    <form>
        <div class="form-row">
            <label for="companyName">Company</label>
            <div class="input-group">
                <input type="text" class="text-input" id="companyName" name="companyName" placeholder="Company name.."> 
                <button type="submit" class="submit-button">Add Company</button>
            </div>
        </div>

        <div class="form-row">
            <label for="company">Select Company</label>
            <div class="input-group">
                <select class="select-input" id="company" name="company">
                    <option value="0" selected >Select Company</option>
                    <option value="Goldmedal">Goldmedal</option>
                    <option value="Anchor">Anchor</option>
                    <option value="Local">Local</option>
                </select>
                <input type="text" class="text-input" id="categoryName" name="categoryName" placeholder="Category name..">
                <button type="submit" class="submit-button">Add Category</button>
            </div>
        </div>

        <div class="form-row">
            <label for="category">Select Company & Category</label>
            <div class="input-group">
                <select class="select-input" id="category" name="company">
                    <option value="0" selected >Select Company</option>
                    <option value="Goldmedal">Goldmedal</option>
                    <option value="Anchor">Anchor</option>
                    <option value="Local">Local</option>
                </select>
                <select class="select-input" id="category" name="category">
                    <option value="0" selected >Select Category</option>
                    <option value="Wire">Wire</option>
                    <option value="Bulb">Bulb</option>
                    <option value="Fan">Fan</option>
                </select>
                <input type="text" class="text-input" id="productName" name="productName" placeholder="Product name..">
                <button type="submit" class="submit-button">Add Product</button>
            </div>
        </div>
    </form>
</div>



<table class="data-table">
    <thead>
        <tr>
            <th class="table-header">S no</th>
            <th class="table-header">Company</th>
            <th class="table-header">Category</th>
            <th class="table-header">Product</th>
            <th class="table-header">Product Id</th>
 
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-data">1</td>
            <td class="table-data">Smith</td>
            <td class="table-data">50</td>
            <td class="table-data">Jill</td>
            <td class="table-data">Smith</td>
             
        </tr>
        <tr>
            <td class="table-data">1</td>
            <td class="table-data">Jackson</td>
            <td class="table-data">94</td>
            <td class="table-data">Jill</td>
            <td class="table-data">Smith</td>
            
        </tr>
    </tbody>
</table>